@import "tailwindcss";
@import "./base.css";
@import "./utilities.css";
@import "./components.css";

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-primary: #FF3366;
  --color-bg-dark: #0A0A0A;
}
