APP_ENV=production

# Development overrides
# DB_DSN=tivri.db
# PORT=8080
# LOCALES_DIR=locales

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ADMIN_USERNAME=
ADMIN_PASSWORD=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Use a dummy string locally to verify integration without skewing stats
CLOUDFLARE_INSIGHTS_TOKEN=
