APP_ENV=production
DB_DSN=postgres://tivri_user:tivri_password@db:5432/tivri_db?sslmode=disable
ADMIN_USERNAME=
ADMIN_PASSWORD=
PORT=8080
LOCALES_DIR=locales
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
