{{define "content"}}
<div class="space-y-12">
    <div class="admin-panel-box page-animate">
        <h2 class="text-3xl font-extrabold tracking-tighter text-white">{{.T.Get "AdminTitle"}}</h2>

        {{if eq .AdminTab "portfolio"}}
            {{template "admin.portfolio.html" .}}
        {{else if eq .AdminTab "leads"}}
            {{template "admin.leads.html" .}}
        {{else if eq .AdminTab "messages"}}
            {{template "admin.messages.html" .}}
        {{end}}
    </div>
</div>
{{end}}

{{define "extra_js"}}
<script defer src="{{AssetURL "web/assets/js/admin.js"}}"></script>
{{end}}
